<div class="container">
  <h2 class="title">Pracownicy</h2>
  <button class="btn-add" (click)="addEmployee()">Dodaj Pracownika</button>

  <!-- Formularz dodawania pracownika -->
  <div *ngIf="isAdding" class="add-employee-form">
    <h3>Dodaj nowego pracownika</h3>
    <form (ngSubmit)="submitNewEmployee()">
      <div class="form-group">
        <label for="userId">ID Użytkownika</label>
        <input type="number" id="userId" [(ngModel)]="newEmployee.USER_ID" name="userId" required />
      </div>
      <div class="form-group">
        <label for="employeeType">Typ Pracownika</label>
        <select id="employeeType" [(ngModel)]="newEmployee.EMPLOYEE_TYPE" name="employeeType" required>
          <option value="N">Normalny</option>
          <option value="A">Administrator</option>
        </select>
      </div>
      <button type="submit" class="btn-save">Zapisz</button>
      <button type="button" class="btn-cancel" (click)="cancelAdd()">Anuluj</button>
    </form>
  </div>

  <!-- Tabela pracowników -->
  <table class="table" *ngIf="!isAdding">
    <thead>
      <tr>
        <th>ID</th>
        <th>Typ Pracownika</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.ID }}</td>
        <td>
          <span *ngIf="!isEditing || editedEmployee?.ID !== employee.ID">
            {{ employee.EMPLOYEE_TYPE == 'N' ? 'Normalny' : 'Administrator' }}
          </span>
          <select *ngIf="isEditing && editedEmployee?.ID === employee.ID" [(ngModel)]="editedEmployee!.EMPLOYEE_TYPE">
            <option value="N">Normalny</option>
            <option value="A">Administrator</option>
          </select>
        </td>
        <td class="actions">
          <button class="btn-edit" (click)="startEdit(employee)" *ngIf="!isEditing">Edytuj</button>
          <button class="btn-cancel" (click)="cancelEdit()" *ngIf="isEditing && editedEmployee?.ID === employee.ID">Anuluj</button>
          <button class="btn-save" (click)="saveEdit()" *ngIf="isEditing && editedEmployee?.ID === employee.ID">Zapisz</button>
          <button class="btn-delete" (click)="deleteEmployee(employee.ID)">Usuń</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
