.dashboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  background-color: #f4f4f4;
  width: 200px;
  height: 150px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  background-color: #e0e0e0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.card p {
  margin-top: 10px;
  font-size: 14px;
}
